.Header {
  flex-basis: 12.5%;
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  font-size: 3rem;
}

.Header__Title {
  font-family: "Fredoka One", cursive;
  font-size: inherit;
  letter-spacing: 5px;
  text-shadow: 4px 4px 4px #000;
  text-align: center;
  color: #cdcdcd;
  padding: 0 1rem;
}

@media screen and (max-width: 40em) {
  .Header {
    padding-top: 1rem;
    font-size: 1.75rem;
  }
}