.Header {
  flex-basis: 12.5%;
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.Header__Title {
  font-size: 3rem;
  font-family: "Fredoka One", cursive;
  letter-spacing: 5px;
  text-shadow: 4px 4px 4px #000;
  text-align: center;
  color: #cdcdcd;
  padding: 0 1rem;
}