.Header {
  flex-basis: 12.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.Header__Title {
  font-size: 3rem;
  letter-spacing: 5px;
  font-family: "Fredoka One", cursive;
  color: #bababa;
}