.Aside {
  /* border: 1px solid; */
  flex-basis: 20rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  font-size: clamp(1.1rem, .5rem + 1.25vw, 1.75rem);
  font-family: "Open Sans Condensed Bold", sans-serif;
  user-select: none;
}


.Aside > p:nth-of-type(odd) {
  grid-column: 1 / 3;
}

.Aside > p:nth-of-type(even) {
  grid-column: 3 / -1;
  justify-self: center;
}

.Reset-Points {
  grid-column: 1 / -1;
  /* background-color: #fff; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: 5rem; */
  align-items: center;
  gap: 1rem;
  /* padding: .5rem; */
  cursor: pointer;
}

.Reset-Points__Text {
  grid-column: 1 / 3;
}

.Reset-Points__Checkbox {
  grid-column: 3 / -1;
  appearance: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0;
  height: 50%;
  place-content: center;
  overflow: hidden;
  background-color: transparent;
  cursor: inherit;
}

.Reset-Points__Checkbox::before {
  content: "NO";
  grid-column: 1 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  background-color: #bf0000;
  transition: transform .25s, background-color .25s;
}

.Reset-Points__Checkbox:checked::before {
  content: "YES";
  background-color: #00bf00;
 transform: translateX(100%);
}

.Restart-Game {
  grid-column: 1 / -1;
  padding: .25rem;
  transition: background-color .175s;
  background-color: #62009b;
  color: #ddeeff;
  cursor: pointer;
}

.Restart-Game:hover {
  background-color: #380058;
}

@media screen and (max-width: 65em) {
  .Aside {
    flex-basis: 17.5rem;
    align-content: center;
    grid-auto-rows: 50px;
    gap: .5rem 1rem;
    color: #ddeeff;
    text-shadow: 1px 1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, -1px -1px 0 #000;
  }

  .Aside > p:nth-of-type(even) {
    grid-column: span 1;
  }

  .Aside > p:nth-of-type(odd) {
    grid-column: span 1;
  }

  .Reset-Points {
    grid-column: 1 / -3;
  }

  .Restart-Game {
    width: 75%;
    justify-self: center;
    grid-column: -3 / -1;
  }
}

@media screen and (max-width: 40em) {
  .Aside {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 40px;
    gap: .5rem 0;
    align-self: center;
  }

  .Reset-Points, .Restart-Game {
    grid-column: 1 / -1;
    /* margin-top: 1rem; */
  }
}