.Footer {
  flex-basis: 7.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
  letter-spacing: 1px;
  font-family: "Open Sans Condensed Bold", sans-serif;
  color: #fff;
}