.Main {
  flex-grow: 1;
  display: flex;
  gap: 7.5rem;
  padding: 2rem;
}

@media screen and (max-width: 65em) {
  .Main {
    flex-direction: column;
    gap: 2rem;
    padding: .5rem 1rem 1rem 1rem;
  }
}