/* Fonts */

/* Fredoka One */
@font-face {
  font-family: "Fredoka One";
  src: local("FredokaOne"), url("./fonts/Fredoka_One/FredokaOne-Regular.ttf");
}

/* Open Sans Condensed Bold*/
@font-face {
  font-family: "Open Sans Condensed Bold";
  src: local("OpenSansCondensed"), url("./fonts/Open_Sans_Condensed/OpenSansCondensed-Bold.ttf");
}

/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font: 100% sans-serif;
}

html,
body {
  height: 100%;
}

img,
picture, video,
canvas, svg {
  display: block;
  max-width: 100%;
}

input, button,
textarea, select {
  font: inherit;
}

p,
h1, h2,
h3, h4,
h5, h6 {
  overflow-wrap: break-word;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  padding: 5px;
  color: currentColor;
  text-decoration: none;
}

/* === */

#root {
  height: 100%;
}

.Bg-Light {
  background-color: #aaa;
}

.Border-Fancy {
  border: 2px solid #000;
  border-radius: 10px 0;
}