.Card {
  position: relative;
}

.Card.Blocked {
  pointer-events: none;
}

.Card__Side {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform .5s;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: #daa520;
}

.Card__Side--Back {
  transform: rotateY(180deg);
}

.Card__Side--Back.Active {
  transform: rotateY(0);
}

.Card__Side--Back::before {
  content: "";
  position: absolute;
  width: 92.5%;
  height: 92.5%;
  background-color: #a03046;
}

.Card__Side--Front {
  transform: rotateY(180deg);
  font-size: 3rem;
}

.Card__Side--Front.Active {
  transform: rotateY(0);
}

.Card__Side--Front::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 92.5%;
  height: 92.5%;
  background-color: #8f6e1d;
}